nodered_data/flows.json
[
    {
        "id": "g6_flow",
        "type": "tab",
        "label": "Gemelo Digital G6",
        "disabled": false,
        "info": "Fase 2 del Bimestre 2: dashboard MQTT. Recibe los 3 sensores del brazo (hombro, codo, muneca), guarda su ultimo estado, y controla + confirma el estado del actuador. Mientras no haya ESP32 fisico, se prueba publicando mensajes de prueba con mosquitto_pub en los mismos topicos.\n\nLayout (v3): EXACTAMENTE 2 grupos, uno por fila (g6_group_row1 y g6_group_row2), en vez de varios grupos independientes. Node-RED no garantiza como se acomodan varios grupos entre si (depende del ancho en pixeles disponible), pero SI garantiza como se acomodan varios widgets DENTRO de un mismo grupo -- por eso todo el contenido de cada fila vive en un solo grupo."
    },
    {
        "id": "g6_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto (contenedor: mosquitto)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "g6_ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Gemelo Digital G6",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 16,
                "gy": 16,
                "cx": 48,
                "cy": 48,
                "px": 16,
                "py": 16
            }
        }
    },
    {
        "id": "g6_ui_tab",
        "type": "ui_tab",
        "name": "Gemelo Digital G6",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "g6_group_row1",
        "type": "ui_group",
        "name": "Fila 1",
        "tab": "g6_ui_tab",
        "order": 0,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "g6_group_row2",
        "type": "ui_group",
        "name": "Fila 2",
        "tab": "g6_ui_tab",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "g6_group_row3",
        "type": "ui_group",
        "name": "Control de servos — automático o manual",
        "tab": "g6_ui_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "n_tpl_header",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_row1",
        "name": "Encabezado del dashboard",
        "order": 1,
        "width": 8,
        "height": 3,
        "format": "<div style='padding:8px 12px 14px 4px'>\n  <h2 style='margin:0 0 6px;font-size:22px;font-weight:700;color:#1f2328;letter-spacing:-.01em'>Gemelo Digital de Brazo — G6</h2>\n  <p style='margin:0 0 8px;font-size:13px;color:#6b7280'>Monitoreo en tiempo real por MQTT y control remoto del actuador</p>\n  <p style='margin:0;font-size:12px;color:#8a8f98;line-height:1.5'><b>Cómo usarlo:</b> los valores de hombro, codo y muñeca se actualizan solos apenas el sensor publica por MQTT. El switch de la derecha envía la orden al actuador; el indicador junto a él solo cambia de color cuando el actuador confirma que ya se movió.</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "n_mqtt_in_hombro",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor hombro",
        "topic": "g6/brazo/sensores/hombro",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "n_store_estado",
                "n_tpl_hombro",
                "n_calc_hombro_angulo"
            ]
        ]
    },
    {
        "id": "n_mqtt_in_codo",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor codo",
        "topic": "g6/brazo/sensores/codo",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "n_store_estado",
                "n_tpl_codo",
                "n_calc_codo_angulo"
            ]
        ]
    },
    {
        "id": "n_mqtt_in_muneca",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor muñeca",
        "topic": "g6/brazo/sensores/muneca",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "n_store_estado",
                "n_tpl_muneca"
            ]
        ]
    },
    {
        "id": "n_store_estado",
        "type": "function",
        "z": "g6_flow",
        "name": "Guardar estado sensores",
        "func": "// Este nodo recibe los mensajes ya parseados (JSON) de los 3 sensores\n// del brazo (hombro, codo, muneca). msg.topic trae el topico MQTT\n// completo, por ejemplo: g6/brazo/sensores/hombro\n//\n// De ahi se extrae solo el nombre de la articulacion (la ultima parte\n// del topico, despues de la ultima \"/\") para usarla como llave dentro\n// del estado guardado.\nvar partes = msg.topic.split('/');\nvar articulacion = partes[partes.length - 1]; // \"hombro\" | \"codo\" | \"muneca\"\n\n// \"estado_sensores\" vive en el contexto del flow. Como settings.js tiene\n// contextStorage con modulo \"localfilesystem\", Node-RED escribe este\n// contexto a disco (dentro de nodered_data/context) cada 30 segundos.\n// Esto cumple el requisito de \"almacenar el estado actual de los\n// sensores\" sin necesitar una base de datos aparte.\n//\n// IMPORTANTE: esto NO guarda un historial de movimientos, guarda solo\n// la ULTIMA lectura de cada articulacion (se sobreescribe cada vez).\n// Cada mensaje MQTT que llega dispara este guardado, sin importar si\n// el valor cambio o no respecto al anterior -- no hay logica de\n// \"solo guardar si la posicion cambio\", se guarda siempre que llega\n// un mensaje nuevo.\nvar estado = flow.get('estado_sensores') || {};\nestado[articulacion] = {\n    valores: msg.payload,\n    ultima_actualizacion: new Date().toISOString()\n};\nflow.set('estado_sensores', estado);\n\n// No se reenvia el mensaje a ningun otro nodo: este nodo es solo\n// para persistir el estado. La visualizacion en tiempo real la hace\n// el ui_template conectado directamente a cada nodo \"mqtt in\".\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "n_tpl_hombro",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_row2",
        "name": "Hombro (tiempo real)",
        "order": 1,
        "width": 4,
        "height": 4,
        "format": "<style>\n  .g6-card{padding:6px 8px}\n  .g6-title{margin:0 0 6px;font-size:15px;font-weight:700;color:#1f2328}\n  .g6-accent{height:3px;border-radius:2px;margin-bottom:12px;background:#2563EB}\n  .g6-sub{font-size:11px;letter-spacing:.04em;text-transform:uppercase;color:#8a8f98;margin:0 0 8px}\n  .g6-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:6px 8px}\n  .g6-cell{text-align:center}\n  .g6-label{display:block;font-size:10px;color:#9aa0a6;letter-spacing:.03em}\n  .g6-value{display:block;font-variant-numeric:tabular-nums;font-size:15px;font-weight:600;color:#1f2328}\n  .g6-divider{height:1px;background:#eef0f2;margin:10px 0}\n</style>\n<div class='g6-card'>\n  <p class='g6-title'>Hombro</p>\n  <div class='g6-accent'></div>\n  <p class='g6-sub'>Acelerómetro (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>AX</span><span class='g6-value'>{{msg.payload.ax}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AY</span><span class='g6-value'>{{msg.payload.ay}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AZ</span><span class='g6-value'>{{msg.payload.az}}</span></div>\n  </div>\n  <div class='g6-divider'></div>\n  <p class='g6-sub'>Giroscopio (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>GX</span><span class='g6-value'>{{msg.payload.gx}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GY</span><span class='g6-value'>{{msg.payload.gy}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GZ</span><span class='g6-value'>{{msg.payload.gz}}</span></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "n_tpl_codo",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_row2",
        "name": "Codo (tiempo real)",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<style>\n  .g6-card{padding:6px 8px}\n  .g6-title{margin:0 0 6px;font-size:15px;font-weight:700;color:#1f2328}\n  .g6-accent{height:3px;border-radius:2px;margin-bottom:12px;background:#0D9488}\n  .g6-sub{font-size:11px;letter-spacing:.04em;text-transform:uppercase;color:#8a8f98;margin:0 0 8px}\n  .g6-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:6px 8px}\n  .g6-cell{text-align:center}\n  .g6-label{display:block;font-size:10px;color:#9aa0a6;letter-spacing:.03em}\n  .g6-value{display:block;font-variant-numeric:tabular-nums;font-size:15px;font-weight:600;color:#1f2328}\n  .g6-divider{height:1px;background:#eef0f2;margin:10px 0}\n</style>\n<div class='g6-card'>\n  <p class='g6-title'>Codo</p>\n  <div class='g6-accent'></div>\n  <p class='g6-sub'>Acelerómetro (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>AX</span><span class='g6-value'>{{msg.payload.ax}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AY</span><span class='g6-value'>{{msg.payload.ay}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AZ</span><span class='g6-value'>{{msg.payload.az}}</span></div>\n  </div>\n  <div class='g6-divider'></div>\n  <p class='g6-sub'>Giroscopio (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>GX</span><span class='g6-value'>{{msg.payload.gx}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GY</span><span class='g6-value'>{{msg.payload.gy}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GZ</span><span class='g6-value'>{{msg.payload.gz}}</span></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "n_tpl_muneca",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_row2",
        "name": "Muñeca (tiempo real)",
        "order": 3,
        "width": 4,
        "height": 4,
        "format": "<style>\n  .g6-card{padding:6px 8px}\n  .g6-title{margin:0 0 6px;font-size:15px;font-weight:700;color:#1f2328}\n  .g6-accent{height:3px;border-radius:2px;margin-bottom:12px;background:#D97706}\n  .g6-sub{font-size:11px;letter-spacing:.04em;text-transform:uppercase;color:#8a8f98;margin:0 0 8px}\n  .g6-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:6px 8px}\n  .g6-cell{text-align:center}\n  .g6-label{display:block;font-size:10px;color:#9aa0a6;letter-spacing:.03em}\n  .g6-value{display:block;font-variant-numeric:tabular-nums;font-size:15px;font-weight:600;color:#1f2328}\n  .g6-divider{height:1px;background:#eef0f2;margin:10px 0}\n</style>\n<div class='g6-card'>\n  <p class='g6-title'>Muñeca</p>\n  <div class='g6-accent'></div>\n  <p class='g6-sub'>Acelerómetro (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>AX</span><span class='g6-value'>{{msg.payload.ax}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AY</span><span class='g6-value'>{{msg.payload.ay}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>AZ</span><span class='g6-value'>{{msg.payload.az}}</span></div>\n  </div>\n  <div class='g6-divider'></div>\n  <p class='g6-sub'>Giroscopio (LSB)</p>\n  <div class='g6-grid'>\n    <div class='g6-cell'><span class='g6-label'>GX</span><span class='g6-value'>{{msg.payload.gx}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GY</span><span class='g6-value'>{{msg.payload.gy}}</span></div>\n    <div class='g6-cell'><span class='g6-label'>GZ</span><span class='g6-value'>{{msg.payload.gz}}</span></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "n_ui_switch_actuador",
        "type": "ui_switch",
        "z": "g6_flow",
        "name": "Switch actuador",
        "label": "Encender actuador",
        "tooltip": "Publica ON/OFF en g6/brazo/actuador/cmd — el ESP32 se suscribe a ese tópico",
        "group": "g6_group_row1",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "g6/brazo/actuador/cmd",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "n_mqtt_out_cmd"
            ]
        ]
    },
    {
        "id": "n_mqtt_out_cmd",
        "type": "mqtt out",
        "z": "g6_flow",
        "name": "Comando -> actuador/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "g6_mqtt_broker",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "n_mqtt_in_estado",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Confirmación actuador",
        "topic": "g6/brazo/actuador/estado",
        "qos": "0",
        "datatype": "utf8",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "n_tpl_estado_actuador"
            ]
        ]
    },
    {
        "id": "n_tpl_estado_actuador",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_row1",
        "name": "Badge estado confirmado",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<style>\n  .g6-badgewrap{display:flex;flex-direction:column;justify-content:center;height:100%;padding:6px 4px}\n  .g6-badgecaption{font-size:10px;letter-spacing:.04em;text-transform:uppercase;color:#9aa0a6;margin:0 0 6px}\n  .g6-badge{display:inline-flex;align-items:center;gap:8px;padding:6px 14px;border-radius:999px;font-weight:600;font-size:13px;width:fit-content}\n  .g6-dot{width:8px;height:8px;border-radius:50%;flex:none}\n</style>\n<div class='g6-badgewrap'>\n  <p class='g6-badgecaption'>Estado confirmado</p>\n  <span class='g6-badge' ng-style=\"{background: msg.payload=='ON' ? '#DCFCE7' : '#F1F5F9', color: msg.payload=='ON' ? '#15803D' : '#64748B'}\">\n    <span class='g6-dot' ng-style=\"{background: msg.payload=='ON' ? '#22C55E' : '#94A3B8'}\"></span>\n    {{msg.payload || 'Sin confirmar'}}\n  </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "n_slider_hombro_angulo",
        "type": "ui_slider",
        "z": "g6_flow",
        "name": "Slider ángulo hombro",
        "label": "Hombro — ángulo manual (0-180°)",
        "tooltip": "Mueve el servo del hombro (GPIO18) directo a este ángulo, sin pasar por ON/OFF",
        "group": "g6_group_row3",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "g6/brazo/hombro/angulo/cmd",
        "topicType": "str",
        "min": 0,
        "max": 180,
        "step": 1,
        "className": "",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "n_tag_manual_hombro"
            ]
        ]
    },
    {
        "id": "n_mqtt_out_hombro_angulo",
        "type": "mqtt out",
        "z": "g6_flow",
        "name": "Comando -> hombro/angulo/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "g6_mqtt_broker",
        "x": 480,
        "y": 620,
        "wires": []
    },
    {
        "id": "n_slider_codo_angulo",
        "type": "ui_slider",
        "z": "g6_flow",
        "name": "Slider ángulo codo",
        "label": "Codo — ángulo manual (0-180°)",
        "tooltip": "Mueve el servo del codo (GPIO19) directo a este ángulo, sin pasar por ON/OFF",
        "group": "g6_group_row3",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "g6/brazo/codo/angulo/cmd",
        "topicType": "str",
        "min": 0,
        "max": 180,
        "step": 1,
        "className": "",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "n_tag_manual_codo"
            ]
        ]
    },
    {
        "id": "n_mqtt_out_codo_angulo",
        "type": "mqtt out",
        "z": "g6_flow",
        "name": "Comando -> codo/angulo/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "g6_mqtt_broker",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "n_switch_modo",
        "type": "ui_switch",
        "z": "g6_flow",
        "name": "Switch modo",
        "label": "Modo: Automático (seguir sensores)",
        "tooltip": "ON = los servos siguen al hombro/codo en tiempo real. OFF = control manual con los sliders de abajo.",
        "group": "g6_group_row3",
        "order": 0,
        "width": 12,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "modo",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 220,
        "y": 560,
        "wires": [
            [
                "n_guardar_modo"
            ]
        ]
    },
    {
        "id": "n_guardar_modo",
        "type": "function",
        "z": "g6_flow",
        "name": "Guardar modo",
        "func": "// Guarda el modo actual (true = Automatico, false = Manual) en el\n// contexto del flow. Los nodos \"gate\" de cada servo (n_gate_hombro,\n// n_gate_codo) leen esta misma variable para decidir si dejan pasar\n// el valor del slider manual o el valor calculado desde el sensor.\n//\n// Si nadie toco el switch todavia, flow.get devuelve undefined, y los\n// gates lo tratan como \"false\" (Manual) -- arranca en modo manual por\n// seguridad, no mueve los servos solo por sensores sin que alguien lo\n// active a proposito.\nflow.set('modo_automatico', msg.payload === true);\nreturn null;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "n_calc_hombro_angulo",
        "type": "function",
        "z": "g6_flow",
        "name": "Calcular ángulo hombro",
        "func": "// Calcula el angulo del servo del hombro a partir del acelerometro\n// crudo del sensor de hombro (eje AY -- fue el eje que en la\n// calibracion real mostro el barrido mas limpio entre \"abajo\" y\n// \"arriba\", sin necesitar atan2).\n//\n// Calibracion real (2026-07-14), promediando muestras con el brazo\n// quieto en cada pose:\n//   AY = +15916  -> brazo pegado al cuerpo, abajo      -> servo 0 grados\n//   AY = -12363  -> brazo estirado completamente arriba -> servo 180 grados\n//\n// Tambien se guarda este AY crudo en el contexto del flow: el calculo\n// del codo (nodo n_calc_codo_angulo) lo necesita para restar el\n// movimiento del hombro y aislar la flexion real del codo.\nvar AY_ABAJO = 15916;\nvar AY_ARRIBA = -12363;\n\nvar ay = msg.payload.ay;\nflow.set('ultimo_hombro_ay', ay);\n\nvar angulo = (ay - AY_ABAJO) / (AY_ARRIBA - AY_ABAJO) * 180;\nangulo = Math.max(0, Math.min(180, angulo)); // recorte de seguridad, nunca sale de 0-180\n\nmsg.payload = String(Math.round(angulo));\nmsg.topic = \"g6/brazo/hombro/angulo/cmd\";\nmsg.origen = \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "n_gate_hombro"
            ]
        ]
    },
    {
        "id": "n_calc_codo_angulo",
        "type": "function",
        "z": "g6_flow",
        "name": "Calcular ángulo codo",
        "func": "// Calcula el angulo del servo del codo, pero NO desde el AY crudo del\n// codo solo -- usa la DIFERENCIA entre el AY del codo y el ultimo AY\n// del hombro (guardado por n_calc_hombro_angulo).\n//\n// Por que: el sensor del codo mide inclinacion absoluta respecto a la\n// gravedad, no el angulo real de la articulacion. Si subes el hombro\n// con el codo recto, el AY del codo cambia casi igual que el del\n// hombro, aunque el codo no se haya flexionado nada (esto se\n// confirmo con datos reales durante la calibracion). Restando el AY\n// del hombro se cancela ese movimiento compartido y queda solo la\n// flexion real del codo.\n//\n// Calibracion real (2026-07-14):\n//   diferencia ~ +709   -> codo recto (promedio de +434 y +984,\n//                          medido con el hombro abajo y arriba)\n//   diferencia = -27207 -> codo flexionado al maximo\nvar DIFF_RECTO = 709;\nvar DIFF_FLEXIONADO = -27207;\n\nvar ultimoHombroAy = flow.get('ultimo_hombro_ay');\nif (ultimoHombroAy === undefined) {\n    // Todavia no llego ninguna lectura del hombro -- no se puede\n    // calcular la diferencia todavia, se ignora este mensaje.\n    return null;\n}\n\nvar codoAy = msg.payload.ay;\nvar diferencia = codoAy - ultimoHombroAy;\n\nvar angulo = (diferencia - DIFF_RECTO) / (DIFF_FLEXIONADO - DIFF_RECTO) * 180;\nangulo = Math.max(0, Math.min(180, angulo));\n\nmsg.payload = String(Math.round(angulo));\nmsg.topic = \"g6/brazo/codo/angulo/cmd\";\nmsg.origen = \"auto\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "n_gate_codo"
            ]
        ]
    },
    {
        "id": "n_tag_manual_hombro",
        "type": "change",
        "z": "g6_flow",
        "name": "Tag: origen manual",
        "rules": [
            {
                "t": "set",
                "p": "origen",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "n_gate_hombro"
            ]
        ]
    },
    {
        "id": "n_tag_manual_codo",
        "type": "change",
        "z": "g6_flow",
        "name": "Tag: origen manual",
        "rules": [
            {
                "t": "set",
                "p": "origen",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "n_gate_codo"
            ]
        ]
    },
    {
        "id": "n_gate_hombro",
        "type": "function",
        "z": "g6_flow",
        "name": "Gate modo (hombro)",
        "func": "// Deja pasar el mensaje solo si su origen coincide con el modo\n// actual: en modo Automatico solo pasan los mensajes calculados\n// desde el sensor (origen \"auto\"); en modo Manual solo pasan los que\n// vienen del slider (origen \"manual\"). Asi el slider y el calculo\n// automatico nunca compiten por mandarle un angulo distinto al servo\n// al mismo tiempo.\nvar modoAutomatico = flow.get('modo_automatico') || false;\nvar dejarPasar = modoAutomatico ? (msg.origen === 'auto') : (msg.origen === 'manual');\nreturn dejarPasar ? msg : null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "n_mqtt_out_hombro_angulo"
            ]
        ]
    },
    {
        "id": "n_gate_codo",
        "type": "function",
        "z": "g6_flow",
        "name": "Gate modo (codo)",
        "func": "// Misma logica que n_gate_hombro, pero para el servo del codo.\nvar modoAutomatico = flow.get('modo_automatico') || false;\nvar dejarPasar = modoAutomatico ? (msg.origen === 'auto') : (msg.origen === 'manual');\nreturn dejarPasar ? msg : null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "n_mqtt_out_codo_angulo"
            ]
        ]
    }
]