nodered/flows.json
[
    {
        "id": "g6_flow",
        "type": "tab",
        "label": "Gemelo Digital G6",
        "disabled": false,
        "info": "Fase 2 del Bimestre 2: dashboard MQTT. Recibe los 3 sensores del brazo (hombro, codo, muneca), guarda su ultimo estado, y controla + confirma el estado del actuador. Mientras no haya ESP32 fisico, se prueba publicando mensajes de prueba con mosquitto_pub en los mismos topicos."
    },
    {
        "id": "g6_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto (contenedor: mosquitto)",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "g6_ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif"
            },
            "themeState": {
                "base-color": { "default": "#0094CE", "value": "#0094CE", "edited": false },
                "page-titlebar-backgroundColor": { "value": "#0094CE", "edited": false },
                "page-backgroundColor": { "value": "#fafafa", "edited": false },
                "page-sidebar-backgroundColor": { "value": "#ffffff", "edited": false },
                "group-textColor": { "value": "#1bbfff", "edited": false },
                "group-borderColor": { "value": "#ffffff", "edited": false },
                "group-backgroundColor": { "value": "#ffffff", "edited": false },
                "widget-textColor": { "value": "#111111", "edited": false },
                "widget-backgroundColor": { "value": "#0094CE", "edited": false },
                "widget-borderColor": { "value": "#ffffff", "edited": false },
                "base-font": { "value": "-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif" }
            },
            "angularTheme": { "primary": "indigo", "accents": "blue", "warn": "red", "background": "grey" }
        },
        "site": {
            "name": "Gemelo Digital G6",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 }
        }
    },
    {
        "id": "g6_ui_tab",
        "type": "ui_tab",
        "name": "Gemelo Digital G6",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    { "id": "g6_group_hombro", "type": "ui_group", "name": "Hombro", "tab": "g6_ui_tab", "order": 1, "disp": true, "width": "6", "collapse": false },
    { "id": "g6_group_codo", "type": "ui_group", "name": "Codo", "tab": "g6_ui_tab", "order": 2, "disp": true, "width": "6", "collapse": false },
    { "id": "g6_group_muneca", "type": "ui_group", "name": "Muñeca", "tab": "g6_ui_tab", "order": 3, "disp": true, "width": "6", "collapse": false },
    { "id": "g6_group_actuador", "type": "ui_group", "name": "Actuador", "tab": "g6_ui_tab", "order": 4, "disp": true, "width": "6", "collapse": false },

    {
        "id": "n_mqtt_in_hombro",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor hombro",
        "topic": "g6/brazo/sensores/hombro",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [["n_store_estado", "n_tpl_hombro"]]
    },
    {
        "id": "n_mqtt_in_codo",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor codo",
        "topic": "g6/brazo/sensores/codo",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [["n_store_estado", "n_tpl_codo"]]
    },
    {
        "id": "n_mqtt_in_muneca",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Sensor muñeca",
        "topic": "g6/brazo/sensores/muneca",
        "qos": "0",
        "datatype": "json",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [["n_store_estado", "n_tpl_muneca"]]
    },

    {
        "id": "n_store_estado",
        "type": "function",
        "z": "g6_flow",
        "name": "Guardar estado sensores",
        "func": "// Este nodo recibe los mensajes ya parseados (JSON) de los 3 sensores\n// del brazo (hombro, codo, muneca). msg.topic trae el topico MQTT\n// completo, por ejemplo: g6/brazo/sensores/hombro\n//\n// De ahi se extrae solo el nombre de la articulacion (la ultima parte\n// del topico, despues de la ultima \"/\") para usarla como llave dentro\n// del estado guardado.\nvar partes = msg.topic.split('/');\nvar articulacion = partes[partes.length - 1]; // \"hombro\" | \"codo\" | \"muneca\"\n\n// \"estado_sensores\" vive en el contexto del flow. Como settings.js tiene\n// contextStorage con modulo \"localfilesystem\", Node-RED escribe este\n// contexto a disco (dentro de nodered_data/context) cada 30 segundos.\n// Esto cumple el requisito de \"almacenar el estado actual de los\n// sensores\" sin necesitar una base de datos aparte.\nvar estado = flow.get('estado_sensores') || {};\nestado[articulacion] = {\n    valores: msg.payload,\n    ultima_actualizacion: new Date().toISOString()\n};\nflow.set('estado_sensores', estado);\n\n// No se reenvia el mensaje a ningun otro nodo: este nodo es solo\n// para persistir el estado. La visualizacion en tiempo real la hace\n// el ui_template conectado directamente a cada nodo \"mqtt in\".\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [[]]
    },

    {
        "id": "n_tpl_hombro",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_hombro",
        "name": "Hombro (tiempo real)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style='line-height:1.6'>\n  <b>Acelerómetro</b> — AX: {{msg.payload.ax}} · AY: {{msg.payload.ay}} · AZ: {{msg.payload.az}}<br>\n  <b>Giroscopio</b> — GX: {{msg.payload.gx}} · GY: {{msg.payload.gy}} · GZ: {{msg.payload.gz}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "n_tpl_codo",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_codo",
        "name": "Codo (tiempo real)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style='line-height:1.6'>\n  <b>Acelerómetro</b> — AX: {{msg.payload.ax}} · AY: {{msg.payload.ay}} · AZ: {{msg.payload.az}}<br>\n  <b>Giroscopio</b> — GX: {{msg.payload.gx}} · GY: {{msg.payload.gy}} · GZ: {{msg.payload.gz}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "n_tpl_muneca",
        "type": "ui_template",
        "z": "g6_flow",
        "group": "g6_group_muneca",
        "name": "Muñeca (tiempo real)",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style='line-height:1.6'>\n  <b>Acelerómetro</b> — AX: {{msg.payload.ax}} · AY: {{msg.payload.ay}} · AZ: {{msg.payload.az}}<br>\n  <b>Giroscopio</b> — GX: {{msg.payload.gx}} · GY: {{msg.payload.gy}} · GZ: {{msg.payload.gz}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 260,
        "wires": [[]]
    },

    {
        "id": "n_ui_switch_actuador",
        "type": "ui_switch",
        "z": "g6_flow",
        "name": "Switch actuador",
        "label": "Actuador del brazo",
        "tooltip": "Envia ON/OFF al ESP32 por MQTT",
        "group": "g6_group_actuador",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "g6/brazo/actuador/cmd",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 210,
        "y": 460,
        "wires": [["n_mqtt_out_cmd"]]
    },
    {
        "id": "n_mqtt_out_cmd",
        "type": "mqtt out",
        "z": "g6_flow",
        "name": "Comando -> actuador/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "g6_mqtt_broker",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "n_mqtt_in_estado",
        "type": "mqtt in",
        "z": "g6_flow",
        "name": "Confirmación actuador",
        "topic": "g6/brazo/actuador/estado",
        "qos": "0",
        "datatype": "utf8",
        "broker": "g6_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 540,
        "wires": [["n_ui_text_estado"]]
    },
    {
        "id": "n_ui_text_estado",
        "type": "ui_text",
        "z": "g6_flow",
        "group": "g6_group_actuador",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Texto estado actuador",
        "label": "Estado confirmado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 540,
        "wires": []
    }
]
